In [1]:
import pandas as pd

df = pd.read_csv('train.csv')
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [2]:
df.shape

(20800, 5)

In [6]:
df = df.drop('author', axis=1)

In [7]:
df

,id,title,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Print \nAn Iranian woman has been sentenced to...,1
...,...,...,...,...
20795,20795,Rapper T.I.: Trump a ’Poster Child For White S...,Rapper T. I. unloaded on black celebrities who...,0
20796,20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",When the Green Bay Packers lost to the Washing...,0
20797,20797,Macy’s Is Said to Receive Takeover Approach by...,The Macy’s of today grew from the union of sev...,0
20798,20798,"NATO, Russia To Hold Parallel Exercises In Bal...","NATO, Russia To Hold Parallel Exercises In Bal...",1
20799,20799,What Keeps the F-35 Alive,"David Swanson is an author, activist, journa...",1

In [9]:
df = df.drop(['title','id'],axis=1)

In [10]:
df

                                                    text  label
0      House Dem Aide: We Didn’t Even See Comey’s Let...      1
1      Ever get the feeling your life circles the rou...      0
2      Why the Truth Might Get You Fired October 29, ...      1
3      Videos 15 Civilians Killed In Single US Airstr...      1
4      Print \nAn Iranian woman has been sentenced to...      1
...                                                  ...    ...
20795  Rapper T. I. unloaded on black celebrities who...      0
20796  When the Green Bay Packers lost to the Washing...      0
20797  The Macy’s of today grew from the union of sev...      0
20798  NATO, Russia To Hold Parallel Exercises In Bal...      1
20799    David Swanson is an author, activist, journa...      1

[20800 rows x 2 columns]

In [11]:
df.label.value_counts()

label
1    10413
0    10387
Name: count, dtype: int64

In [12]:
df['label_text'] = df['label'].map({1:'Fake',0:'Real'})

In [13]:
df

                                                    text  label label_text
0      House Dem Aide: We Didn’t Even See Comey’s Let...      1       Fake
1      Ever get the feeling your life circles the rou...      0       Real
2      Why the Truth Might Get You Fired October 29, ...      1       Fake
3      Videos 15 Civilians Killed In Single US Airstr...      1       Fake
4      Print \nAn Iranian woman has been sentenced to...      1       Fake
...                                                  ...    ...        ...
20795  Rapper T. I. unloaded on black celebrities who...      0       Real
20796  When the Green Bay Packers lost to the Washing...      0       Real
20797  The Macy’s of today grew from the union of sev...      0       Real
20798  NATO, Russia To Hold Parallel Exercises In Bal...      1       Fake
20799    David Swanson is an author, activist, journa...      1       Fake

[20800 rows x 3 columns]

In [15]:
df = df.drop('label_text',axis=1)

In [22]:
df

                                                    text  label
0      House Dem Aide: We Didn’t Even See Comey’s Let...      1
1      Ever get the feeling your life circles the rou...      0
2      Why the Truth Might Get You Fired October 29, ...      1
3      Videos 15 Civilians Killed In Single US Airstr...      1
4      Print \nAn Iranian woman has been sentenced to...      1
...                                                  ...    ...
20795  Rapper T. I. unloaded on black celebrities who...      0
20796  When the Green Bay Packers lost to the Washing...      0
20797  The Macy’s of today grew from the union of sev...      0
20798  NATO, Russia To Hold Parallel Exercises In Bal...      1
20799    David Swanson is an author, activist, journa...      1

[20800 rows x 2 columns]

In [23]:
import spacy
nlp = spacy.load('en_core_web_lg')

doc = nlp("Trump stabs Hillary in the stomach BRUTALLY and runs at the speed of light and water")
doc.vector.shape